<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="stylecop" ToolsVersion="17.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1106" Action="None" /> <!-- Code should not contain empty statements -->
    <Rule Id="SA1107" Action="None" /> <!-- Code should not contain multiple statements on one line -->
    <Rule Id="SA1108" Action="None" /> <!-- Block statements should not contain embedded comments -->

    <Rule Id="SA1135" Action="None" /> <!-- All using directives should be qualified -->
    <Rule Id="SA1513" Action="None" /> <!-- Closing brace should be followed by blank line -->
    <Rule Id="SA1516" Action="None" /> <!-- Elements should be separated by blank line -->
    <Rule Id="SA1611" Action="None" /> <!-- The documentation for parameter '...' is missing -->
    <Rule Id="SA1615" Action="None" /> <!-- Element return value should be documented -->
    <Rule Id="SA1618" Action="None" /> <!-- The documentation for type parameter '...' is missing -->
    <Rule Id="SA1623" Action="None" /> <!-- The property's documentation summary text should begin with: 'Gets or sets' -->
    <Rule Id="SA1649" Action="None" /> <!-- File name should match first type name -->
  </Rules>
</RuleSet>